.questions {
  padding-top: 30px;
  padding-bottom: 20px;

  background-color: #f3f2f2;
}

.questions__text,
.questions__promo {
  text-align: center;
}

.questions__text {
  letter-spacing: 0.3px;
}

.questions__block {
  width: 100%;
}

.questions__link {
  width: 100%;
  min-width: 270px;

  font-size: 10px;
  line-height: 2;
  font-family: "Poppins-SemiBold", "Arial", sans-serif;
  text-align: center;
  color: #333333;
  text-transform: capitalize;

  background-color: #ffffff;
  border: 1px solid #dad9d9;
  border-radius: 15px;
}

.ui-tabs .ui-tabs-nav li {
  width: 100%;
}

.questions .ui-tabs .ui-tabs-panel {
  padding-right: 0;
  padding-left: 0;
}

.questions__link:hover {
  color: #ffffff;

  background-color: #00e600;
  -webkit-box-shadow: inset 0 -2px 0 0 #eeeeee;
          box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.questions__link:active {
  color: #ffffff;

  background-color: #00b300;
  -webkit-box-shadow: inset 0 -2px 0 0 #eeeeee;
          box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.questions__list {
  margin-right: 100px;
}

.ui-tabs-vertical .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: 1em;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .questions__link {
  position: relative;

  margin-top: 1.3px;

  color: #ffffff;

  background-color: #0b4bec;
  border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .questions__link:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .questions__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -6px;

  width: 10px;
  height: 10px;

  background-color: #0b4bec;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0.55em 0.4em;
}

.questions__accord-promo h3 {
  position: relative;

  font-size: 16px;
  line-height: 2;
  font-family: "Raleway-SemiBold", Arial, sans-serif;
  color: #808080;
  letter-spacing: 1.05px;

  background-color: #ffffff;
  border: 1px solid #dad9d9;
}

.questions__accord-promo h3:hover {
  color: #ffffff;

  background-color: #00e600;
  -webkit-box-shadow: inset 0 -2px 0 0 #eeeeee;
          box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.questions__accord-promo h3:active {
  color: #ffffff;

  background-color: #00b300;
  -webkit-box-shadow: inset 0 -2px 0 0 #eeeeee;
          box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.ui-accordion .ui-accordion-header {
  margin-bottom: 0.97em;
  padding: 0.7em 4.688em 0.8em 2.1em;
}

.ui-accordion h3.ui-accordion-header-active {
  color: #0b4bec;

  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fa-chevron-down {
  position: absolute;
  top: 51%;
  right: 37px;

  display: inline-block;
  width: 15px;
  height: 11px;

  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.ui-accordion h3.ui-accordion-header-active .fa-chevron-down {
  -webkit-transform: translate(50%, -50%) rotate(180deg);
      -ms-transform: translate(50%, -50%) rotate(180deg);
          transform: translate(50%, -50%) rotate(180deg);
}

.ui-accordion .ui-accordion-content {
  margin-bottom: 0.93em;
  padding: 1.25em 1.25em 1.25em 1.875em;

  background-color: #ffffff;
  border: 1px solid #dad9d9;
}

.questions__accord-text {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 2em;
}

.questions__tabs {
  display: block;
  height: 300px;
  margin-bottom: 0.93em;
  padding: 1.25em 1.25em 1.25em 1.875em;
  overflow: scroll;

  background-color: #ffffff;
  border: 1px solid #dad9d9;
}

.question .ui-tabs {
  padding: 0;
}

.questions__link {
  width: auto;
  min-width: auto;
}

.ui-tabs-vertical .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  display: inline-block;
}

.ui-tabs .ui-tabs-nav {
  text-align: center;
}

.ui-tabs .ui-tabs-nav li {
  width: auto;
}

.ui-tabs .ui-tabs-nav li {
  float: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .questions__link::after {
  display: none;
}

@media (min-width: 576px) {
  .questions {
    padding-top: 90px;
  }

  .questions__link {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .questions .container {
    max-width: 1170px;
    padding-right: 0;
    padding-left: 0;
  }

  .questions {
    min-height: 880px;
    padding-top: 153px;
    padding-bottom: 0;
  }

  .questions__promo {
    margin-bottom: 85px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 0.9em 4.688em 1.25em 2.1em;
  }

  .questions__tabs {
    height: 100%;
    padding: 1.25em 4.688em 1.25em 1.875em;
    overflow: visible;
  }

  .questions__link {
    min-width: 270px;

    font-size: 16px;

    border-radius: 0;
  }

  .ui-tabs .ui-tabs-nav li {
    float: left;
  }

  .ui-tabs .ui-tabs-nav li.ui-tabs-active .questions__link::after {
    display: block;
  }
}
