.form {
  min-height: 588px;
  padding-top: 90px;
  margin-bottom: 40px;
}

.form .container{
  padding-left: 15px;
  padding-right: 15px;
}

.feedback__header {
  font-size: 30px;
  line-height: 1;
  color: #333333;
  text-transform: capitalize;
  font-family: "Poppins-SemiBold", "Arial", sans-serif;
  margin-bottom: 50px;
}

.feedback__field ::placeholder {
  color: #808080;
}

.feedback__field,
.feedback__text-field {
  border: 1px solid #cccccc;
  padding: 17px;
  margin-bottom: 30px;
  width: 100%;
}

.btn__feedback {
  background-color: #0b4bec;
  color: #ffffff;
  padding: 17px;
  border: none;
  width: 100%;
  border-radius: 0;
}

.feedback__text-field {
  min-height: 125px;
  width: 100%;
  resize: none;
}

.feedback__left,
.feedback__right {
  width: 100%;
}

.feedback__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback__field-file {
    position: relative;
    overflow: hidden;
    color: #808080;
}

.feedback__field-file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}

.feedback__padding {
  padding: 0;
}

@media(min-width: 768px) {


}

@media(min-width: 992px) {

  .form {
    padding-top: 150px;
    margin-bottom: 0;
  }

  .form .container {
    padding-left: 0;
    padding-right: 0;
  }

  .feedback__field,
  .feedback__text-field {
    max-width: 460px;
  }

  .btn__feedback {
    max-width: 460px;
  }

  .feedback__left,
  .feedback__right {
    max-width: 460px;
  }
}

@media(min-width: 1170px) {

  .form .container {
    max-width: 1170px;
  }

  .feedback__field,
  .feedback__text-field {
    max-width: 550px;
  }

  .btn__feedback {
    max-width: 550px;
  }

  .feedback__left,
  .feedback__right {
    max-width: 550px;
  }

}
