.footer .container {
  padding: 0;
}

.footer {
  min-height: 428px;
  background-image: url("../../img/bg_footer.jpg");
  background-repeat: no-repeat;
  background-size: 100% 52%;
  background-position: 0 100%;
  padding-bottom: 30px;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../img/bg_footer2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 325px;
  padding: 15px;
  margin-bottom: 45px;
  box-shadow: 0 5px 20px #000000;
  justify-content: space-between;
}

.footer__promo {
  display: none;
}

.footer__info {
  width: 100%;
  margin-bottom: 20px;
}

.footer__info-item {
  line-height: 1.8;
  color: #ffffff;
  font-family: "Poppins-Regular", "Arial", sans-serif;
  display: block;
  text-align: center;
}

.footer__phone {
  margin-right: 37px;
}

.footer__tel,
.footer__email {
  margin-left: 5px;
}

.footer__info-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}

.footer__commin h3,
.footer__useful h3,
.subscribe__header,
.insta__header {
  font-size: 17px;
  line-height: 1.6;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Poppins-SemiBold", "Arial", sans-serif;
  margin-bottom: 30px;
}

.insta__header {
  margin-bottom: 15px;
}

.footer__commin,
.footer__useful {
  min-width: 130px;
  display: none;
}

.insta {
  display: none;
}

.footer__commin-link,
.footer__useful-link {
  color: #ffffff;
  font-family: "Poppins-Regular", "Arial", sans-serif;
  line-height: 2;
}

.footer__useful-link {
  text-transform: capitalize;
}

.footer__commin-list li,
.footer__useful-list li {
  margin-bottom: 5px;
}

.footer__subscribe {
  margin-bottom: 45px;
}

.footer__subscribe fieldset {
  padding: 0;
}

.footer__social {
  width: 100%;
}

.subscribe__field-email  {
  color: #808080;
  font-family: "Raleway-LightItalic", "Arial", sans-serif;
  font-style: italic;
  text-transform: capitalize;
  line-height: 2;
  padding: 6px 5px 6px 13px;
  width: 100%;
  border: none;
  background-color: #b7bfd8;
}

.subscribe__email,
.subscribe__btn {
  display: inline-block;
  vertical-align: top;
}

.subscribe__email {
  width: 80%;
}

.subscribe__btn {
  border: none;
  width: 50px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 0;
  margin-left: -4px;
  background-image: url("../../img/airplane.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.insta__list li {
  margin-right: 2px;
  display: inline-block;
  vertical-align: top;
}

.insta-link {
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.insta-link--post1 {
  background-image: url("../../img/inst1.jpg");
}

.insta-link--post2 {
  background-image: url("../../img/inst2.jpg");
}

.insta-link--post3 {
  background-image: url("../../img/inst3.jpg");
}

.insta-link--post4 {
  background-image: url("../../img/inst4.jpg");
}

.insta-link--post5 {
  background-image: url("../../img/inst5.jpg");
}

.copyright {
  text-align: center;
}

.copyright__text {
  display: inline-block;
  vertical-align: top;
  font-family: "Poppins-Regular", "Arial", sans-serif;
  color: #ffffff;
  line-height: 2;
}

 @media(min-width: 576px) {

  .footer__row {
  padding: 50px 50px 28px 50px;
  }

  .footer__info {
    max-width: 405px;
    margin-bottom: 0;
  }

  .footer__promo {
    display: block;
    color: #ffffff;
    line-height: 2;
    margin-bottom: 33px;
  }

  .footer__info-link {
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .footer__info-item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  .footer__commin,
  .footer__useful,
  .insta {
    display: block;
  }

}

@media(min-width: 768px) {

  .footer__social {
    max-width: 350px;
  }

  .footer__info {
    margin-bottom: 40px;
  }
}

@media(min-width: 992px) {

  .footer__social {
    max-width: 100%;
  }

  .footer__subscribe {
    min-width: 325px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20%;
  }

  .insta {
    display: inline-block;
    vertical-align: top;
  }

}

@media(min-width: 1170px) {

  .footer .container {
    min-width: 1170px;
  }

  .footer__social {
    max-width: 325px;
  }

  .footer__info {
    margin-bottom: 0;
  }

  .footer__subscribe {
    margin-right: 0;
    display: block;
  }

  .subscribe__email {
    width: 84%;
  }

  .insta {
    display: block;
  }

}
