.service
{
    position: relative;

    min-height: 850px;
    padding-top: 90px;
}

.service .container
{
    padding-right: 20px;
    padding-left: 20px;
}

.service__text
{
    font-family: 'Poppins-Regular', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.75;

    margin-bottom: 0;

    text-align: center;
    text-transform: uppercase;

    color: #808080;
}

.service__prom
{
    font-family: 'Poppins-SemiBold', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;

    margin-bottom: 60px;

    text-align: center;
    text-transform: uppercase;

    color: #333;
}

.service__list
{
    font-family: 'Poppins-Regular', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;

    margin-bottom: 0;

    color: #333;
}

.service__item
{
    width: 270px;
    margin: 0 auto;

    text-align: center;
}

.service__item img
{
    width: 270px;
    height: 270px;
}

.service__item p
{
    height: 80px;
    padding-top: 23px;

    border: 1px solid #b3b3b3;
    border-top: none;
}

.owl-nav
{
    text-align: center;
}

.owl-prev
{
    margin-right: 40px;
}

.owl-next,
.owl-prev
{
    width: 32px;
    height: 20px;

    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

.owl-prev
{
    background-image: url('../../img/arrow_service.svg');
}

.owl-next
{
    transform: rotate(180deg);

    background-image: url('../../img/arrow_service.svg');
}

@media (min-width: 425px)
{
    .service__text,
    .service__prom
    {
        margin-left: 20px;
    }
}

@media (min-width: 576px)
{
    .service__text,
    .service__prom
    {
        margin-left: 0;
    }
}

@media (min-width: 980px)
{
    .service
    {
        padding-top: 240px;
    }

    .service__text,
    .service__prom
    {
        text-align: left;
    }
}

@media (min-width: 1290px)
{
    .owl-next,
    .owl-prev
    {
        position: absolute;
    }

    .owl-prev
    {
        top: 50%;
        left: -80px;

        transform: translate(0, -50%);
    }

    .owl-next
    {
        top: 47%;
        right: -80px;
    }
}
